body{
		color:;
		background-image:url(image/1.png);
		background-position:center ;}
.heading{
    color:red;
    text-align:center;
		}
.heading h2{
		font:40px Times;
		font-variant:small-caps ;
		font-weight:800;
		}
.heading p{
    font:20px cursive;}
    
    
    
